# Default repo owners
*       @BearHanded @braxex

# This further restricts files where labels change to only have super approval
services/ui-src/src/measures/2021/rateLabelText.ts
@StephanieCoppel @davidkoger

# This further restricts files where labels change to only have super approval
services/ui-src/src/measures/2022/rateLabelText.ts
@StephanieCoppel @davidkoger
