.idea/
.infra
.dynamodb
.yarn_install
node_modules
testcafe_results
.DS_Store
build_dev
tsconfig.tsbuildinfo
services/uploads/local_buckets
/.env
tests_output
*.log
package-lock.json
videos
tests/cypress/videos
tests/cypress/screenshots
tests/cypress/package-lock.json

