$image-path: "~@cmsgov/design-system/dist/images";
@import "@cmsgov/design-system/dist/scss/index";

html,
body,
#root {
  height: 100%;
  font-size: 16px; // sets the value of 1rem
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

li::marker {
  font-weight: bold;
}

.default-li-marker li::marker {
  font-weight: normal;
}

a:focus {
  box-shadow: none;
}

.logo-link:focus {
  background-color: transparent;
}

@media print {
  .logos {
    width: 170px;
  }

  .medicaid-logo {
    width: 190px;
  }

  a[href]::after {
    display: none;
  }

  .state-layout-container {
    position: relative !important;

    .header-spacer {
      display: none;
    }
    a {
      font-size: 25px;
    }
  }

  .hidden-print-items {
    visibility: hidden;
    display: none !important;
  }

  .logo-footer {
    display: flex !important;
  }

  .help-section {
    text-align: start;
    padding-top: 50px;
  }

  .multi-rate-print-stack,
  .iuhh-field-stack,
  .aifhh-field-stack {
    flex-wrap: wrap;
  }
}
