.login-button {
  width: 17em !important;
}
.action-button-row {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}
.login-wrapper form {
  margin: auto;
  input {
    margin-left: 39%;
  }
}
.login-title {
  margin-top: 30px !important;
}
.local-login {
  margin-top: 75px;
}
.local-login-title {
  padding-bottom: 12px;
}
