name: Deploy

on: [push]

concurrency:
  group: ${{ github.ref_name }}

permissions:
  id-token: write
  contents: write
  actions: read

env:
  PROJECT: ${{ vars.APP_NAME_LOWER }}

jobs:
  deploy:
    if: ${{ !startsWith(github.ref_name, 'skipci') }}
    runs-on: ubuntu-latest
    environment: ${{ (github.ref_name == 'production' && 'production') || (github.ref_name == 'val' && 'val') || 'dev' }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Enable Corepack
        run: corepack enable
      - uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'plugins/**') }}
      - name: path + branch settings + install packages
        run: |
          echo "PATH=$(pwd)/node_modules/.bin/:$PATH" >> $GITHUB_ENV
          BRANCH_NAME=$(node ./.github/setBranchName.ts ${{ github.ref_name }})
          echo "branch_name=${BRANCH_NAME}" >> $GITHUB_ENV
          node ./.github/branchNameValidation.ts $BRANCH_NAME
          ./run install
      - name: Configure AWS credentials for GitHub Actions
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_TO_ASSUME }}
          aws-region: us-east-1
      - name: deploy
        run: ./run deploy --stage $branch_name
      - id: endpoint
        run: |
          APPLICATION_ENDPOINT=$(node ./scripts/output.ts ${{ env.PROJECT }}-$branch_name CloudFrontUrl)
          echo "application_endpoint=$APPLICATION_ENDPOINT" >> $GITHUB_OUTPUT
          echo "## Application Endpoint" >> $GITHUB_STEP_SUMMARY
          echo "<$APPLICATION_ENDPOINT>" >> $GITHUB_STEP_SUMMARY
      - name: Runner WAF Access
        if: ${{ github.ref_name != 'val' && github.ref_name != 'production' }}
        run: node .github/runner-waf-access.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: ${{ env.branch_name }}
    outputs:
      application_endpoint: ${{ steps.endpoint.outputs.application_endpoint }}

  e2e-tests:
    if: ${{ github.ref_name != 'val' && github.ref_name != 'production' }}
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v4
      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: tests/cypress
          config: baseUrl=${{ needs.deploy.outputs.application_endpoint }}
        env:
          CYPRESS_STATE_USER_2: ${{ secrets.CYPRESS_STATE_USER_2 }}
          CYPRESS_STATE_USER_4: ${{ secrets.CYPRESS_STATE_USER_4 }}
          CYPRESS_ADMIN_USER: ${{ secrets.CYPRESS_ADMIN_USER }}
          CYPRESS_QMR_PASSWORD: ${{ secrets.CYPRESS_QMR_PASSWORD }}
      - name: Upload screenshots
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: cypress-test-results-${{ github.run_number }}
          path: tests/cypress/screenshots/
          retention-days: 30
